name: Java CI/CD with Maven and Docker

on:
  push:
    branches: [ "main", "develop", "staging" ]
  pull_request:
    branches: [ "main", "develop", "staging" ]
  workflow_dispatch:
  
concurrency:
  group: ${{ github.workflow }}-${{ github.ref }}
  cancel-in-progress: true

jobs:
  build:
    uses: ./.github/workflows/build.yml

  publish:
    needs: build
    if: >
      github.event_name == 'push' && (
        github.ref == 'refs/heads/main' ||
        github.ref == 'refs/heads/develop' ||
        github.ref == 'refs/heads/staging'
      )
    uses: ./.github/workflows/publish.yml

