name: Publish Docker Image

on:
  workflow_call:
    secrets:
      DOCKERHUB_USERNAME:
        required: true
      DOCKERHUB_TOKEN:
        required: true

jobs:
  publish:
    runs-on: ubuntu-22.04

    steps:
      - name: Checkout
        uses: actions/checkout@v4

      - name: Clean up existing builders
        run: |
          docker buildx rm default || true
          docker builder prune -af || true

      - name: Set up Docker Buildx
        uses: docker/setup-buildx-action@v3
        with:
          driver: docker-container
          buildkitd-flags: --debug

      - name: Log in to Docker Hub
        uses: docker/login-action@v3
        with:
          username: ${{ secrets.DOCKERHUB_USERNAME }}
          password: ${{ secrets.DOCKERHUB_TOKEN }}

      - name: Build and push Docker image
        uses: docker/build-push-action@v6
        with:
          context: .
          file: ./Dockerfile
          push: true
          no-cache: true
          provenance: false
          platforms: linux/amd64
          tags: hlyamhtet/student-registration-system:latest
          tags: hlyamhtet/student-registration-system:latest
          max_attempts: 3
          retry_wait_seconds: 15
          timeout_minutes: 15
          polling_interval_seconds: 1
          warning_on_retry: true
          command: |
            docker buildx build \
              --platform linux/amd64 \
              --push \
              -t hlyamhtet/student-registration-system:latest \
              -f ./Dockerfile .

